@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 14px !important;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.5;
    font-weight: 700;
    margin-left: 20px;
}

h2 {
    font-size: 14px !important;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: -28px;
}

form {
    width:100%;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #001234;
    padding: 10px 15px 10px 15px;
    border: none;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    width: 80%;
}

input::placeholder {
    color: white;
    text-transform: uppercase;
}

input:active {
    border: none;
}

button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-size: 14px !important;
    font-weight: 700 !important;
    background-color: #671F5E !important;
    margin-top: 20px;
}

button:hover {
    border: none;
}

img {
    width: 70%;
    margin-bottom: 40px;
} 